body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#quiz-container {
    width: 60%;
    margin: auto;
}

#quiz-container img {
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f5e508;
    color: rgb(250, 121, 0);
    border-radius: 5px;
    margin: 10px;
    box-shadow: #ffee02;
}

button:hover {
    background-color: #def50c9c;
}

#timer {
    font-weight: bold;
    color: rgb(0, 68, 255);;
}

#progress {
    font-weight: bold;
    color: rgb(174, 0, 255);
}

